<?xml version="1.0" encoding="utf-8"?>
<dashboard>
  <remoteServices>
    <servers>
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="local" url="tcp://localhost:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
  <plugins>
    <customTemplates>Themes/Kaizen/templates</customTemplates>
    <farmPlugins>
      <farmReportFarmPlugin />
      <cctrayDownloadPlugin />
      <administrationPlugin password="ccnetrocks" />
    </farmPlugins>
    <serverPlugins>
      <serverReportServerPlugin />
      <serverUserListServerPlugin />
      <serverLogServerPlugin />
      <serverInformationServerPlugin />
      <queueStatusServerPlugin />
      <projectConfigurationServerPlugin />
      <serverSecurityConfigurationServerPlugin />
    </serverPlugins>
    <projectPlugins>
      <projectReportProjectPlugin />
      <viewProjectStatusPlugin />
      <latestBuildReportProjectPlugin />
      <viewAllBuildsProjectPlugin />
      <packageListPlugin />
      <serverAuditHistoryProjectPlugin />
    </projectPlugins>
    <buildPlugins>
      <buildReportBuildPlugin>
        <xslFileNames>
          <xslFile>Themes\Kaizen\xsl\BuildInfoSummary.xsl</xslFile>
          <xslFile>Themes\Kaizen\xsl\ModificationsSummary.xsl</xslFile>
		  <xslFile>Themes\Kaizen\xsl\WarningsSummary-NAnt.xsl</xslFile>
		  <xslFile>Themes\Kaizen\xsl\ErrorsSummary-NAnt.xsl</xslFile>
          <xslFile>Themes\Kaizen\xsl\TestsSummary-NUnit.xsl</xslFile>
          <xslFile>Themes\Kaizen\xsl\DesignAnalysisSummary-FxCop.xsl</xslFile>
          <xslFile>Themes\Kaizen\xsl\CodeCoverageSummary-NCover-NCoverExplorer.xsl</xslFile>
          <xslFile>Themes\Kaizen\xsl\CodeDuplicationSummary-Simian.xsl</xslFile>
        </xslFileNames>
      </buildReportBuildPlugin>
      <buildLogBuildPlugin />
      <xslReportBuildPlugin description="Tests" actionName="TestsReport" xslFileName="Themes\Kaizen\xsl\TestsReport-NUnit.xsl" />
      <xslReportBuildPlugin description="Builder Log" actionName="BuilderReport" xslFileName="Themes\Kaizen\xsl\BuilderLogReport-NAnt.xsl" />
      <xslReportBuildPlugin description="Build Timings" actionName="BuilderTimingsReport" xslFileName="Themes\Kaizen\xsl\BuilderTimingsReport-NAnt.xsl" />
      <xslReportBuildPlugin description="Design Analysis" actionName="DesignAnalysisReport" xslFileName="Themes\Kaizen\xsl\DesignAnalysisReport-FxCop.xsl" />
      <xslReportBuildPlugin description="Code Coverage" actionName="CodeCoverageReport" xslFileName="Themes\Kaizen\xsl\CodeCoverageReport-NCover-NCoverExplorer.xsl" />
      <xslReportBuildPlugin description="Code Duplication" actionName="CodeDuplicationReport" xslFileName="Themes\Kaizen\xsl\CodeDuplicationReport-Simian.xsl" />    </buildPlugins>
    <securityPlugins>
      <simpleSecurity />
    </securityPlugins>
  </plugins>
</dashboard>