<!-- ChangePasswordAction.vm: Start -->
#if ($message.length > 0)
<div class="message success">
  <span>$message</span>
</div>
#end
#if ($error.length > 0)
<div class="message failed">
  <span>$error</span>
</div>
#end
<div class="section">
  <h1 class="title">
    <span class="title">Change Password</span>
  </h1>
  <div class="section-content">
    <form method="post">
      <table>
        <tr>
          <td class="label strong">
            <label for="oldPassword">Current Password:</label>
          </td>
          <td>
            <input type="password" name="oldPassword"/>
          </td>
        </tr>
        <tr>
          <td class="label strong">
            <label for="newPassword1">New Password:</label>
          </td>
          <td>
            <input type="password" name="newPassword1"/>
          </td>
        </tr>
        <tr>
          <td class="label strong">
            <label for="newPassword2">New Password 2x:</label>
          </td>
          <td>
            <input type="password" name="newPassword2"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Change"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<!-- ChangePasswordAction.vm: End -->
