<!-- ServerInfo.vm: Start -->
<div class="section">
  <h1 class="title">
    <span class="title">Server Info</span>
  </h1>
  <div class="section-content">
    <table>
      <tr>
        <td class="label strong">Server Name</td>
        <td class="label strong">Server Version</td>
        <td class="label strong">Free Disk Space</td>
      </tr>
      <tr>
        <td class="data">$servername</td>
        <td class="data">$serverversion</td>
        <td class="data">$serverSpace</td>
      </tr>
      #if ($spaceMessage != "")
      <tr>
        <td colspan="3">
          <span>$spaceMessage</span>
        </td>
      </tr>
      #end
    </table>
  </div>
</div>
<!-- ServerInfo.vm: End -->